* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: rgb(71,71,71);
    background: linear-gradient(45deg, rgba(71,71,71,1) 31%, rgba(247,0,0,1) 80%, rgba(255,255,255,1) 100%);
}


/* INICIO DEL DISEÑO DEL HEADER */
header {
    background: #464749;
    min-width: 100%;
    max-height: 120px;
}

header img {
    width:200px;
    margin-top: 10px;
}

.logoFacpya{
    width: 250px;
}

header span {
    color: #fff;
}

header hr {
    border: none;
    height: 2px;
    background: #fff;
}

/*FIN DE DISEÑO DE HEADER*/




/*INICIO DEL DISEÑO DEL FORMULARIO*/

.formulario { /* ESTE APARTADO ES EL CONTENEDOR TOTAL DEL FORMULARIO Y LA IMAGEN */

    
}

form {
    background: #454649;
    
    
}


.bg { /* CONTENEDOR DE LA IMAGEN (LADO IZQUIERDO) */
    background-position: 80% center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/fondoFacpya.jpg");
}

/*DISEÑO PARTE DERECHA */
h2,label,span{
    color:#fff;
}

form button {
    padding: 5px;
    background: none;
    border:2px solid #c40000;
    border-radius: 10px;
    color: #fff;
}

form button:hover{
    padding: 5px;
    background: #ff0000;
    border:2px solid #ff0000;
    border-radius: 10px;
    color: #fff;
}

/*FIN DE DISEÑO DEL FORMULARIO*/



/*INICIO DEL FOOTER*/

footer {
    background: rgba(135,0,0,1);
    max-height: 120px;
}

/*FIN DEL FOOTER*/








@media only screen and (max-width: 770px) {
    header {
        padding-top: 20px;
    }

    header img {
        display: none;
    }
}